.form-signin {
  max-width: 330px;
  padding: 15px;
}

.form-signin .form-floating:focus-within {
  z-index: 2;
}

.form-signin input[type="email"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}


.button {
  padding: 15px 25px;
  font-size: 24px;
  text-align: center;
  cursor: pointer;
  outline: none;
  color: #fff;
  background-color: #0d6efd;
  border: none;
  border-radius: 15px;
  box-shadow: 0 9px #999;
}

.button:hover {background-color: #0a58ca}

.button:active {
  background-color: #0a58ca;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}

.button-home {
  padding: 15px 25px;
  font-size: 24px;
  text-align: center;
  align-items: center;
  cursor: pointer;
  outline: none;
  color: #fff;
  background-color: #0d6efd;
  border: none;
  border-radius: 15px;
  box-shadow: 0 9px #999;
}

.button-home:hover {background-color: #0a58ca}

.button-home:active {
  background-color: #0a58ca;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}


.center {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
}

.center-button {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px;
}


header {
  display: flex;
  text-align: left;

  align-items: left;
  white-space: nowrap;
}